@model MVC.Models.Potkategorija
@{
    ViewBag.Title = "PotkategorijaPotvrda";
}

<h2>Potkategorija @Model.Naziv je uspješno dodana</h2>

<br />

@Html.ActionLink("< Prikaz potkategorija", "Potkategorije")