:root {
    --main-color: #0094ff;
}



.container {
    margin-top: 15px;
    font-family: "Calibri";
}

.shadowrealm {
    box-shadow: 0 0 100px 0px rgba(231 231 231), 0 0 1000px 0px rgb(231 231 231);
}